<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Article</title>
</head>
<body>
<h1>Add Article</h1>
<form th:action="@{/articles}" th:object="${article}" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" th:field="*{title}" />
    <label for="description">Description:</label>
    <textarea id="description" th:field="*{description}"></textarea>
    <label for="publishDate">Publish Date:</label>
    <input type="date" id="publishDate" th:field="*{publishDate}" />
    <label for="author">Author:</label>
    <select id="author" th:field="*{author.id}">
        <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
    </select>
    <button type="submit">Save</button>
</form>
</body>
</html>
